.finalPanel {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 380px;
    height: 100vh;
    background-color: #86d3f4;
    text-align: center;
        &_title {
            font-size: 32px;
            font-weight: 700;
            max-width: 276px;
            margin-bottom: 26px;
            text-transform: uppercase;
        }
        &_subtitle {
            font-size: 14px;
            font-weight: 300;
            max-width: 276px;
        }
}