.inputMask {
    font-size: 32px;
    font-weight: 700;
    background: none;
    border: none;
    max-width: 270px;
    font-weight: 700;
    padding: 0;
    outline: none;
    cursor: pointer;
    margin: 13px 0px;
}

.inputMask.fail {
    color: #ea0000;
}